* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #24252a;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding:20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-item {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

/*  css primeira seçao*/
.container-apresentacao {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 500px;
  width: 100%;
  align-items: center;
  background: black;
}

.body-apresentacao, .img-apresentacao {
    margin: 20px;
}

h1 {
    color:#fff;
    font-size: 100px;
}

p {
    color:#fff;
    font-size: 12px;
    line-height: 100px;
}

button {
    width: 180px;
    color: #000;
    font-size: 14px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
    cursor: pointer;
}

.container-textanimation {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #010718;
    overflow: hidden;}

.container{
    width: 700px;
    overflow: hidden;
}
.container .text{
    position: relative;
    color: #4070F4;
    font-size: 30px;
    font-weight: 600;
}
.container .text.primeiro-texto{
    color: #FFF;
}
.text.segundo-texto:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #010718;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

.container-colunas {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  
}

.coluna {
  text-align: center;
  height: 10px;
  width: 8px;
  flex-grow: 1;
  
}

.coluna-divisoria {
  height: 80px;
  width: 0;
  border: 1px solid black;
}

.coluna p {
  font-size: 1.5em;
}
.img-teclado, .img-teclado img {
  width: 100%
}

.coluna h1 {
  margin: 20px;
  text-align: center;
}

.container-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #808080;
  
}

.card {
  width: 300px;
  height: 460px;
  margin: 25px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.card-header {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card Body */
.card-body {
  height: 170px;
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
}

.card-titulo {
  font-size: 45px;
  margin: 10px;
}

.card-texto {
  font-size: 12px;
  width: 250px;
  margin: 0 auto;
}

.card-footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #000;
}

.card-footer a {
  color: #fff;
  padding: 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 50px;
  
}

.card .card-footer {
  background-color: #2740d1;
}

.footer-main {
    background-color: #94a8df;
    height: 100px;
    display: flex;
    padding: 20px 5%;
    align-items: center;
    justify-content: space-between;
}

.footer-config {
    background-color: #bdcf7f;
}
