* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #24252a;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    padding:20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-item {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

/*** css da animação***/

/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

.section1 {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #010718;
    overflow: hidden;}

.container{
    width: 700px;
    overflow: hidden;
}
.container .text{
    position: relative;
    color: #4070F4;
    font-size: 30px;
    font-weight: 600;
}
.container .text.primeiro-texto{
    color: #FFF;
}
.text.segundo-texto:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #010718;
    border-left: 2px solid #4070F4;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}

.footer-main {
    background-color: #94a8df;
    height: 100px;
    display: flex;
    padding: 20px 5%;
    align-items: center;
    justify-content: space-between;
}

.footer-config {
    background-color: #bdcf7f;
}
