.titulo {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.conteudo {
    height: 60vh;
    display: flex;
    justify-content: center;
    margin: 50px;
    padding: 0px 100px;
    text-align: justify;
}