* {
  margin: 0;
  padding: 0;
}

/* caso precisem alinhar os itens na vertical e horizontal, 
  justify-content: center;
  align-items: center;
  (elementos filhos de um flexbox container)
} */

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #808080;
  
}

.card {
  width: 300px;
  height: 460px;
  margin: 25px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
}

.card-header {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Card Body */
.card-body {
  height: 170px;
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
}

.card-titulo {
  font-size: 45px;
  margin: 10px;
}

.card-texto {
  font-size: 12px;
  width: 250px;
  margin: 0 auto;
}

.card-footer {
  width: 100%;
  height: 100px;
  text-align: center;
  background-color: #000;
}

.card-footer a {
  color: #fff;
  padding: 16px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
  line-height: 50px;
  
}

.card .card-footer {
  background-color: #2740d1;
}
